@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Copperplate Gothic Bold";
  src: url(../font/CopperplateGothicBold.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-family: "Copperplate Gothic Bold";
  background-color: #20304e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  height: 100px;
  margin-top: 10px;
}

header h1 {
  font-size: 1.5em;
  color: #fff;
  width: 50%;
}

input[type="checkbox"].for-header {
  display: none;
  visibility: hidden;
}

.bar {
  display: block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
  margin-right: 16px;
  transform: scale(0.7);
  z-index: 30;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}

nav {
  background-color: #2f3339;
  color: #d2d2d2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 120px;
  display: none;
}

nav div:hover {
  background-color: #495057;
}

.active {
  text-decoration: underline;
}

.hidden {
  display: none;
}

nav div {
  display: flex;
  padding: 32px;
  border-top: 1px solid #1d1e20;
  cursor: pointer;
}
nav div:nth-child(4) {
  border-bottom: 1px solid #1d1e20;
}
nav div img {
  margin-right: 16px;
}

.box {
  width: 90%;
  max-width: 400px;
  margin: 64px auto;
}

.box-group {
  border: 3px solid #eaeaea;
  padding: 24px;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.title .number {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
  margin-right: 24px;
}

.title h1 {
  font-size: 1.5em;
}

.group1,
.group2 {
  padding: 16px;
  background-color: #eaeaea;
}

.verified {
  color: #69aa63;
}
.box-verified {
  background-color: #69aa63;
  color: white;
}
.waiting {
  color: #dfc435;
}
.box-waiting {
  background-color: #dfc435;
  color: white;
}
.unfinished {
  color: #d9d9d9;
}
.box-unfinished {
  background-color: #d9d9d9;
  color: white;
}

.box button {
  display: block;
  width: 70%;
  font-family: "Poppins";
  padding: 12px;
  margin: 24px auto;
  border-radius: 25px;
  border: none;
  background-color: #20304e;
  color: white;
  cursor: pointer;
}
.box button:hover {
  background-color: #20304eeb;
}
.box button[disabled] {
  background-color: #d9d9d9;
}

.list {
  display: flex;
  margin-bottom: 12px;
}

main {
  padding: 24px;
}

main h1 {
  color: #20304e;
  margin-bottom: 32px;
}

.upload-photos {
  width: 200px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border: 2px dashed black;
  border-radius: 10px;
}

.upload-photos.active {
  border-style: solid;
}

.upload-photos p {
  text-align: center;
  margin-top: 24px;
  font-size: 1em;
}

.upload-photos input {
  display: none;
}

.upload-photos img#preview {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 400;
}

input {
  width: 100%;
  border-radius: 10px;
  background-color: #d9d9d9;
  border: none;
  padding: 12px;
  font-family: "Poppins";
  margin-bottom: 6px;
  color: black;
}
input[disabled] {
  background-color: #aaa;
}

select {
  width: 100%;
  border-radius: 10px;
  background-color: #d9d9d9;
  border: none;
  padding: 12px;
  font-family: "Poppins";
  margin-bottom: 6px;
  color: black;
}

option {
  width: 100%;
}

.input-group {
  margin-bottom: 24px;
}

input[type="checkbox"] {
  accent-color: black;
  display: inline;
  width: fit-content;
}
label.check {
  display: inline;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #69aa63;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1em;
  margin-top: 24px;
  cursor: pointer;
}

.form-group {
  margin-top: 24px;
}

button:hover {
  background-color: #69aa63dd;
}

input[type="radio"] {
  display: inline;
  width: fit-content;
  accent-color: black;
}
label.radio {
  display: inline;
  width: fit-content;
}
.radio-group {
  margin-bottom: 8px;
}
.input-group h5 {
  margin-bottom: 16px;
  font-size: 1.2em;
}

.file-drop {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 2px dashed black;
  cursor: pointer;
}
.active-drop {
  border: 2px solid black;
}
.file-drop:hover {
  background-color: #d9d9d9b8;
}
.done {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.done img {
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  nav {
    width: 50%;
    left: unset;
    top: 114px;
    border-top: 1px solid #ffc300;
    padding-top: 0;
  }

  .flex-container {
    display: flex;
  }

  .form-group {
    width: 50%;
  }

  main {
    padding: 52px;
  }

  .flex-container2 {
    display: flex;
  }

  .radio-group {
    margin-right: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .bar {
    display: none;
  }
  header {
    justify-content: start;
    padding: 0 24px;
  }
  header img {
    margin-right: 24px;
  }
  .container {
    display: flex;
  }
  nav {
    display: block;
    position: unset;
    width: 20%;
  }
  main {
    width: 80%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 36px;
  }
  .done {
    width: 80%;
  }
  .box {
    margin: 0;
    margin-bottom: 36px;
  }

  form {
    width: 80%;
  }
}
